<ion-content [fullscreen]="true">
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-img src="/assets/image/logo.png"></ion-img>
        <ion-item lines="none">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input placeholder="Username" type="text" [(ngModel)]="username" required="required"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="key-outline"></ion-icon>
          <ion-input placeholder="Password" type="password" [(ngModel)]="password" required="required">
          </ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" (click)="prosesLogin()">
          <B>LOGIN</B>
        </ion-button>
        <div class="bpakun">
          Belum punya akun?
          <a type="submit" (click)="prosesDaftar()">Register</a>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>