<ion-content [fullscreen]="true">
  <div class="screen">
    <div class="header">
      <ion-item class="header" lines="none">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="diary"></ion-back-button>
        </ion-buttons>
        <ion-label>
          <strong>Diary</strong>
        </ion-label>
      </ion-item>

    </div>
    <div class="list">
      <ion-item lines="none">
        <ion-label>
          <h1>{{ tanggal }}</h1>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{ isi }} </ion-label>
      </ion-item>
    </div>
  </div>

</ion-content>