<ion-content [fullscreen]="true">
  <div class="screen">
    <div class="header">
      <ion-item class="header" lines="none">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="bookmark"></ion-back-button>
        </ion-buttons>
        <ion-label>
          <strong>Tambah Bookmark</strong>
        </ion-label>
      </ion-item>

    </div>
    <div class="list">
      <ion-item lines="none">
        <ion-label position="stacked">Judul</ion-label>
        <ion-input required [(ngModel)]="judul" placeholder="Judul" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Link</ion-label>
        <ion-input required [(ngModel)]="isi" placeholder="Link" type="text"></ion-input>

      </ion-item>
    </div>
  </div>
  <div class="tambah">
    <ion-button type="button" (click)="AddDataBookmark()" expand="block">
      ADD BOOKMARK
    </ion-button>
  </div>

</ion-content>