<ion-content [fullscreen]="true">
  <div class="screen">
    <div class="header">
      <ion-item class="header" lines="none">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-label>
          <strong>TASK</strong>
        </ion-label>
      </ion-item>
    </div>
    <div class="list">
      <ion-item class="judul" lines="none">
        <ion-label slot="start">List Task Hari Ini : {{ jml_data }}</ion-label>
        <ion-label class="see" (click)="lihat()" slot="end">See All</ion-label>
      </ion-item>
      <ion-card lines="none" *ngFor="let data_value of data">
        <ion-item lines="none">
          <ion-label>
            <p>{{ data_value.tanggal }}</p>
            <h1>{{ data_value.judul }}</h1>
          </ion-label>
          <ion-icon color="primary" slot="end" [routerLink]="['/task-lihat/',data_value.id]"
            routerLinkActive="router-link-active" name="eye-outline"></ion-icon>
          <ion-icon color="success" slot="end" [routerLink]="['/task-edit/',data_value.id]"
            routerLinkActive="router-link-active" name="create-outline"></ion-icon>
          <ion-icon color="danger" slot="end" (click)="deleteDataTask(data_value.id)" name="trash-outline">
          </ion-icon>
        </ion-item>
      </ion-card>
    </div>
    <ion-item class="selesai" (click)="pindahlagi()" lines="none">
      <ion-label>Completed!</ion-label>
    </ion-item>
  </div>
  <div class="tambah">
    <ion-button slot="fixed" type="button" [routerLink]="['/task-tambah']" routerLinkActive="router-link-active"
      routerLinkActive="router-link-active">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      ADD TASK
    </ion-button>
  </div>
</ion-content>