ion-content {
  --background: url("/assets/image/diary.jpg") no-repeat center center / cover;

  .header {
    padding: 10px 1px;
    --background: none;

    ion-label {
      font-size: 30pt;
      padding-left: 20%;
    }
  }

  .list {
    ion-item.judul {
      --background: none;
      margin-bottom: -20px;

      .see {
        color: #f2ba82;
      }
    }

    ion-card {
      --background: none;
      margin-bottom: 10px;

      ion-item {
        --background: rgba(255, 232, 210, 0.5);
        --box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        /* Note: backdrop-filter has minimal browser support */

        --border-radius: 15px;
        --min-height: 100px;

        ion-label {
          p {
            color: white;
            font-size: 10pt;
            font-weight: 500;
          }
          h1 {
            color: black;
            font-size: 14pt;
            font-weight: 700;
          }
        }
      }
    }
  }

  ion-item.selesai {
    --background: none;
    color: blue;
    font-weight: 700;
  }
  .tambah {
    position: absolute;
    top: 85%;
    left: 35%;
    ion-button {
      align-items: center;
      --min-height: 40px;
      --background: #f2ba82;
      --border-radius: 20px;
    }
  }
}
