ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/image/bg.jpg") no-repeat center center / cover;

  .wrapper {
    position: absolute;
    top: 26%;
    right: 4%;
    left: 4%;

    .form-wrapper {
      background: #ffffff;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 15px 10px;

      ion-img {
        height: 70px;
        margin-bottom: 20px;
      }

      ion-item {
        --background: rgba(242, 186, 130, 0.2);
        --border-radius: 20px;
        --padding-start: 10px;
        --min-height: 40px;
        margin-bottom: 15px;
        --text-decoration: none !important;
      }

      ion-icon {
        color: black;
        font-size: 18px;
      }

      ion-input {
        color: #8b8b8b;
        margin-left: 10px;
        font-size: 14px;
      }

      ion-button {
        --min-height: 40px;
        left: 118px;
        top: 467px;
        margin-top: 40px;
        --background: #f2ba82;
        --border-radius: 20px;
      }

      .bpakun {
        margin-top: 20px;
        color: black;
        text-align: center;
        a {
          color: #f2ba82;
        }
      }
    }
  }
}
