<ion-content [fullscreen]="true">
  <div class="screen">
    <div class="header">
      <ion-item class="header" lines="none">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="diary"></ion-back-button>
        </ion-buttons>
        <ion-label>
          <strong>Tambah Diary</strong>
        </ion-label>
      </ion-item>

    </div>
    <div class="list">
      <ion-item lines="none">
        <ion-label position="stacked">Tanggal</ion-label>
        <ion-input [(ngModel)]="tanggal" placeholder="Tanggal" type="date">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Isi</ion-label>
        <ion-textarea rows="30" required [(ngModel)]="isi" placeholder="Isi" type="text">
        </ion-textarea>
      </ion-item>
    </div>
  </div>
  <div class="tambah">
    <ion-button type="button" (click)="AddDataDiary()" expand="block">
      ADD DIARY
    </ion-button>
  </div>

</ion-content>