ion-content {
  --background: #ffffff;

  .header {
    padding: 10px 1px;
    --background: none;

    ion-label {
      color: black;
      font-size: 20pt;
      padding-left: 20%;
    }
  }

  ion-item {
    --background: #ffffff;
    padding: 10px 10px;
    color: black;
    ion-label {
      h1 {
        font-size: 25pt;
        font-weight: 700;
      }
      p {
        color: black;
      }
    }
  }

  .row {
    position: absolute;
    top: 85%;
    left: 5%;
    width: 90%;
    ion-button {
      // align-items: center;
      --min-height: 40px;
      --background: #f2ba82;
      --border-radius: 20px;
    }
  }
}
