<ion-content [fullscreen]="true">
  <div class="screen">
    <div class="header">
      <ion-item class="header" lines="none">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="task"></ion-back-button>
        </ion-buttons>
        <ion-label>
          <strong>Task</strong>
        </ion-label>
      </ion-item>
    </div>
    <div class="list">
      <ion-item lines="none">
        <ion-label>
          <h1>{{ judul }}</h1>
          <p>{{ tanggal }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{ isi }} </ion-label>
      </ion-item>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ion-button type="submit" expand="block" (click)="AddDataTask()">
        <B>Complete</B>
      </ion-button>
    </div>
  </div>
</ion-content>