<ion-content [fullscreen]="true">
  <div class="screen">
    <div class="header">
      <ion-item class="header" lines="none">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-label>
          <strong>Task Completed</strong>
        </ion-label>
      </ion-item>
    </div>
    <div class="list">
      <ion-card lines="none" *ngFor="let data_value of data">
        <ion-item lines="none">
          <ion-label>
            <p>{{ data_value.tanggal }}</p>
            <h1>{{ data_value.judul }}</h1>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>