ion-content {
  --background: #ffffff;

  .header {
    padding: 10px 1px;
    --background: none;

    ion-label {
      color: black;
      font-size: 20pt;
      padding-left: 10%;
    }
  }

  .list {
    padding: 10px 10px;
    ion-item {
      color: black;
      --background: rgba(255, 232, 210, 0.7);
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      --min-height: 40px;
      margin-bottom: 15px;
      --text-decoration: none !important;

      ion-input {
        color: #8b8b8b;
        font-size: 14px;
      }
      ion-textarea {
        color: #8b8b8b;
        font-size: 14px;
      }
    }
  }

  .tambah {
    position: absolute;
    top: 90%;
    width: 100%;
    padding: 1px 10px;
    ion-button {
      --min-height: 40px;
      --background: #f2ba82;
      --border-radius: 15px;
    }
  }
}
