ion-content {
  --background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;

  .screen {
    text-align: center;
    position: inline-block;
    top: auto;
    right: 50%;
    left: 50%;

    .header {
      --padding-top: 20px;
      --padding-bottom: 200px;
      --background: url("/assets/image/home-header.jpg") no-repeat center center /
        cover;
      --border-radius: 0px 0px 20px 20px;

      ion-icon {
        color: white;
      }

      ion-img {
        height: 40px;
      }

      .halo {
        --background: none;
        position: absolute;
        top: 80px;
        ion-item {
          ion-label {
            strong {
              --text-shadow: 2px 2px 5px #000000;
              font-size: 30pt;
            }

            strong.user {
              color: #0fc5ce;
            }

            p {
              padding-top: 5px;
              font-size: 12pt;
              color: black;
            }
          }
        }
      }
    }

    .desc {
      --padding-top: 10px;
      --background: none;

      ion-label {
        strong {
          --text-shadow: 2px 2px 5px #000000;
          font-size: 18pt;
          color: black;
        }
        p {
          margin-top: 5px;
          margin-bottom: 10px;
          font-size: 12pt;
          color: black;
        }
      }
    }

    .menu {
      ion-item {
        margin: 20px 15px;
        --min-height: 100px;
        --background: rgba(15, 197, 206, 0.3);
        // --background: linear-gradient(
        //   96.16deg,
        //   rgba(15, 197, 206, 0.5) 0.97%,
        //   rgba(37, 13, 107, 0.5) 98.97%
        // );
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 10px;

        ion-thumbnail {
          img {
            border-radius: 10px;
          }
        }

        h1 {
          color: #0754b8;
        }

        p {
          color: black;
        }
      }
    }
  }
}
